.blog{
  padding : 4rem 0 ;
  text-align: center;
}

.center{
  width : 80vw; 
  margin : 0 auto;
  
}

.posts{
  display : grid ; 
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap : 1rem;
}

.other-links{
  text-align: center;
  margin : 2rem 0;
}

@media screen and (min-width : 992px){
  .other-links{
    text-align: left;
  }
}