.blog{
  padding : 4rem 0 ;
  text-align: center;
}

.center{
  width : 80vw; 
  margin : 0 auto;
  display : grid ; 
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap : 1rem;
}

