.defaultHero{
  min-height: calc(100vh - 65px);
  background: linear-gradient(rgba(63,208,212,0.7), rgba(0,0,0,0.7)), url("../images/defaultBcg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display : flex ; 
  align-items: center;
  animation: defaultHeroAnimation 1s linear;
  transition: var(--mainTransition);
}

@keyframes defaultHeroAnimation{
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}